html, body
  width 100%
  height 100%


body
  margin 0
  padding 0
  font 16px
  font-family 'FS Emeric Book', Helvetica, Arial, sans-serif
  background-color #333
  color white


a
  color #00B7FF


canvas
  margin 0
  padding 0


.item.daylightmap
  width 100%
  height 100%


.daylightmap
  padding 0
  position relative

.daylightmap canvas
  position absolute
  top 0
  left 0

.daylightmap .background
  fill none

.daylightmap .foreground
  fill none

.daylightmap .graticule
  fill none
  stroke #dddddd
  stroke-width .5px

.daylightmap .graticule :nth-child(2n)
  stroke-dasharray 2,2

.daylightmap .land
  fill #ccc
  stroke #aaaaaa

.daylightmap .boundary
  fill none
  stroke #aaaaaa

